In [70]:
import numpy as np
import matplotlib.pyplot as plt

In [71]:
# open output file
f = open("output.txt", "w")
heading = ['lines', 'ways', 'blocks', 'hitRate', 'nHits', 'nMisses', 'totalAccesses']
# write heading to file
for i in range(0, len(heading)):
    f.write(heading[i] + ",")
f.write("\n")

1

In [72]:
p1_88_lines = np.zeros((3, 7))
p1_88_lines[0] = [1, 0, 2, 0.7424, 49, 17, 0]
p1_88_lines[0][6] = p1_88_lines[0][4] + p1_88_lines[0][5]
p1_88_lines[1] = [2, 0, 2, 0.7424, 49, 17, 0]
p1_88_lines[1][6] = p1_88_lines[1][4] + p1_88_lines[1][5]
p1_88_lines[2] = [3, 0, 2, 0.7424, 49, 17, 0]
p1_88_lines[2][6] = p1_88_lines[2][4] + p1_88_lines[2][5]
print(heading, "\n", p1_88_lines, "\n")

p1_88_blocks = np.zeros((3, 7))
p1_88_blocks[0] = [3, 0, 3, 0.8636, 57, 9, 0]
p1_88_blocks[0][6] = p1_88_blocks[0][4] + p1_88_blocks[0][5]
p1_88_blocks[1] = [3, 0, 4, 0.9242, 61, 5, 0]
p1_88_blocks[1][6] = p1_88_blocks[1][4] + p1_88_blocks[1][5]
p1_88_blocks[2] = [3, 0, 5, 0.9545, 63, 3, 0]
p1_88_blocks[2][6] = p1_88_blocks[2][4] + p1_88_blocks[2][5]
print(p1_88_blocks, "\n")

p1_88_ways = np.zeros((2, 7))
p1_88_ways[0] = [3, 0, 2, 0.7424, 49, 17, 0]
p1_88_ways[0][6] = p1_88_ways[0][4] + p1_88_ways[0][5]
p1_88_ways[1] = [3, 1, 2, 0.7424, 49, 17, 0]
p1_88_ways[1][6] = p1_88_ways[1][4] + p1_88_ways[1][5]
print(p1_88_ways, "\n")

['lines', 'ways', 'blocks', 'hitRate', 'nHits', 'nMisses', 'totalAccesses']
 [[ 1.      0.      2.      0.7424 49.     17.     66.    ]
 [ 2.      0.      2.      0.7424 49.     17.     66.    ]
 [ 3.      0.      2.      0.7424 49.     17.     66.    ]]

[[ 3.      0.      3.      0.8636 57.      9.     66.    ]
 [ 3.      0.      4.      0.9242 61.      5.     66.    ]
 [ 3.      0.      5.      0.9545 63.      3.     66.    ]]

[[ 3.      0.      2.      0.7424 49.     17.     66.    ]
 [ 3.      1.      2.      0.7424 49.     17.     66.    ]]

In [73]:
p1_1616_lines = np.zeros((3, 7))
p1_1616_lines[0] = [1, 0, 2, 0.7481, 193, 65, 0]
p1_1616_lines[0][6] = p1_1616_lines[0][4] + p1_1616_lines[0][5]
p1_1616_lines[1] = [2, 0, 2, 0.7481, 193, 65, 0]
p1_1616_lines[1][6] = p1_1616_lines[1][4] + p1_1616_lines[1][5]
p1_1616_lines[2] = [3, 0, 2, 0.7481, 193, 65, 0]
p1_1616_lines[2][6] = p1_1616_lines[2][4] + p1_1616_lines[2][5]
print(heading, "\n", p1_1616_lines, "\n")

p1_1616_blocks = np.zeros((3, 7))
p1_1616_blocks[0] = [3, 0, 3, 0.8721, 225, 33, 0]
p1_1616_blocks[0][6] = p1_1616_blocks[0][4] + p1_1616_blocks[0][5]
p1_1616_blocks[1] = [3, 0, 4, 0.9341, 241, 17, 0]
p1_1616_blocks[1][6] = p1_1616_blocks[1][4] + p1_1616_blocks[1][5]
p1_1616_blocks[2] = [3, 0, 5, 0.9651, 249, 9, 0]
p1_1616_blocks[2][6] = p1_1616_blocks[2][4] + p1_1616_blocks[2][5]
print(p1_1616_blocks, "\n")

p1_1616_ways = np.zeros((2, 7))
p1_1616_ways[0] = [3, 0, 2, 0.7481, 193, 65, 0]
p1_1616_ways[0][6] = p1_1616_ways[0][4] + p1_1616_ways[0][5]
p1_1616_ways[1] = [3, 1, 2, 0.7481, 193, 65, 0]
p1_1616_ways[1][6] = p1_1616_ways[1][4] + p1_1616_ways[1][5]
print(p1_1616_ways, "\n")

['lines', 'ways', 'blocks', 'hitRate', 'nHits', 'nMisses', 'totalAccesses']
 [[  1.       0.       2.       0.7481 193.      65.     258.    ]
 [  2.       0.       2.       0.7481 193.      65.     258.    ]
 [  3.       0.       2.       0.7481 193.      65.     258.    ]]

[[  3.       0.       3.       0.8721 225.      33.     258.    ]
 [  3.       0.       4.       0.9341 241.      17.     258.    ]
 [  3.       0.       5.       0.9651 249.       9.     258.    ]]

[[  3.       0.       2.       0.7481 193.      65.     258.    ]
 [  3.       1.       2.       0.7481 193.      65.     258.    ]]

In [74]:
p2_88_lines = np.zeros((3, 7))
p2_88_lines[0] = [1, 0, 2, 0.0303, 2, 64, 0]
p2_88_lines[0][6] = p2_88_lines[0][4] + p2_88_lines[0][5]
p2_88_lines[1] = [2, 0, 2, 0.0303, 2, 64, 0]
p2_88_lines[1][6] = p2_88_lines[1][4] + p2_88_lines[1][5]
p2_88_lines[2] = [3, 0, 2, 0.04545, 3, 63, 0]
p2_88_lines[2][6] = p2_88_lines[2][4] + p2_88_lines[2][5]
np.set_printoptions(suppress=True)
print(heading, "\n", p2_88_lines, "\n")
# dont print in scientific notation

p2_88_blocks = np.zeros((3, 7))
p2_88_blocks[0] = [3, 0, 3, 0.8636, 57, 9, 0]
p2_88_blocks[0][6] = p2_88_blocks[0][4] + p2_88_blocks[0][5]
p2_88_blocks[1] = [3, 0, 4, 0.9242, 61, 5, 0]
p2_88_blocks[1][6] = p2_88_blocks[1][4] + p2_88_blocks[1][5]
p2_88_blocks[2] = [3, 0, 5, 0.9545, 63, 3, 0]
p2_88_blocks[2][6] = p2_88_blocks[2][4] + p2_88_blocks[2][5]
print(p2_88_blocks, "\n")

p2_88_ways = np.zeros((2, 7))
p2_88_ways[0] = [3, 0, 2, 0.04545, 3, 63, 0]
p2_88_ways[0][6] = p2_88_ways[0][4] + p2_88_ways[0][5]
p2_88_ways[1] = [3, 1, 2, 0.7424, 49, 17, 0]
p2_88_ways[1][6] = p2_88_ways[1][4] + p2_88_ways[1][5]
print(p2_88_ways, "\n")

['lines', 'ways', 'blocks', 'hitRate', 'nHits', 'nMisses', 'totalAccesses']
 [[ 1.       0.       2.       0.0303   2.      64.      66.     ]
 [ 2.       0.       2.       0.0303   2.      64.      66.     ]
 [ 3.       0.       2.       0.04545  3.      63.      66.     ]]

[[ 3.      0.      3.      0.8636 57.      9.     66.    ]
 [ 3.      0.      4.      0.9242 61.      5.     66.    ]
 [ 3.      0.      5.      0.9545 63.      3.     66.    ]]

[[ 3.       0.       2.       0.04545  3.      63.      66.     ]
 [ 3.       1.       2.       0.7424  49.      17.      66.     ]]

In [75]:
p2_1616_lines = np.zeros((3, 7))
p2_1616_lines[0] = [1, 0, 2, 0.007752, 2, 256, 0]
p2_1616_lines[0][6] = p2_1616_lines[0][4] + p2_1616_lines[0][5]
p2_1616_lines[1] = [2, 0, 2, 0.007752, 2, 256, 0]
p2_1616_lines[1][6] = p2_1616_lines[1][4] + p2_1616_lines[1][5]
p2_1616_lines[2] = [3, 0, 2, 0.007752, 2, 256, 0]
p2_1616_lines[2][6] = p2_1616_lines[2][4] + p2_1616_lines[2][5]
print(heading, "\n", p2_1616_lines, "\n")

p2_1616_blocks = np.zeros((3, 7))
p2_1616_blocks[0] = [3, 0, 3, 0.007752, 2, 256, 0]
p2_1616_blocks[0][6] = p2_1616_blocks[0][4] + p2_1616_blocks[0][5]
p2_1616_blocks[1] = [3, 0, 4, 0.01163, 3, 255, 0]
p2_1616_blocks[1][6] = p2_1616_blocks[1][4] + p2_1616_blocks[1][5]
p2_1616_blocks[2] = [3, 0, 5, 0.9574, 247, 11, 0]
p2_1616_blocks[2][6] = p2_1616_blocks[2][4] + p2_1616_blocks[2][5]
print(p2_1616_blocks, "\n")

p2_1616_ways = np.zeros((2, 7))
p2_1616_ways[0] = [3, 0, 2, 0.007752, 2, 256, 0]
p2_1616_ways[0][6] = p2_1616_ways[0][4] + p2_1616_ways[0][5]
p2_1616_ways[1] = [3, 1, 2, 0.007752, 2, 256, 0]
p2_1616_ways[1][6] = p2_1616_ways[1][4] + p2_1616_ways[1][5]
print(p2_1616_ways, "\n")

['lines', 'ways', 'blocks', 'hitRate', 'nHits', 'nMisses', 'totalAccesses']
 [[  1.         0.         2.         0.007752   2.       256.
  258.      ]
 [  2.         0.         2.         0.007752   2.       256.
  258.      ]
 [  3.         0.         2.         0.007752   2.       256.
  258.      ]]

[[  3.         0.         3.         0.007752   2.       256.
  258.      ]
 [  3.         0.         4.         0.01163    3.       255.
  258.      ]
 [  3.         0.         5.         0.9574   247.        11.
  258.      ]]

[[  3.         0.         2.         0.007752   2.       256.
  258.      ]
 [  3.         1.         2.         0.007752   2.       256.
  258.      ]]

In [76]:
heading1 = heading + ['writeBacks']
heading2 = ['writeThrough_withAllocate', 'writeThrough_noAllocate', 'writeBack_withAllocate', 'writeBack_noAllocate']
p1_88 = np.zeros((4, 8))
p1_88[0] = [5, 0, 2, 0.7424, 49, 17, 0, 64]
p1_88[0][6] = p1_88[0][4] + p1_88[0][5]
p1_88[1] = [5, 0, 2, 0.04545, 3, 63, 0, 64]
p1_88[1][6] = p1_88[1][4] + p1_88[1][5]
p1_88[2] = [5, 0, 2, 0.7424, 49, 17, 0, 0]
p1_88[2][6] = p1_88[2][4] + p1_88[2][5]
p1_88[3] = [5, 0, 2, 0.04545, 3, 63, 0, 62]
p1_88[3][6] = p1_88[3][4] + p1_88[3][5]
print(heading1, "\n", p1_88, "\n")

p1_1616 = np.zeros((4, 8))
p1_1616[0] = [5, 0, 2, 0.7481, 193, 65, 0, 256]
p1_1616[0][6] = p1_1616[0][4] + p1_1616[0][5]
p1_1616[1] = [5, 0, 2, 0.01163, 3, 255, 0, 256]
p1_1616[1][6] = p1_1616[1][4] + p1_1616[1][5]
p1_1616[2] = [5, 0, 2, 0.7481, 193, 65, 0, 0]
p1_1616[2][6] = p1_1616[2][4] + p1_1616[2][5]
p1_1616[3] = [5, 0, 2, 0.01163, 3, 255, 0, 254]
p1_1616[3][6] = p1_1616[3][4] + p1_1616[3][5]
print(p1_1616, "\n")

['lines', 'ways', 'blocks', 'hitRate', 'nHits', 'nMisses', 'totalAccesses', 'writeBacks']
 [[ 5.       0.       2.       0.7424  49.      17.      66.      64.     ]
 [ 5.       0.       2.       0.04545  3.      63.      66.      64.     ]
 [ 5.       0.       2.       0.7424  49.      17.      66.       0.     ]
 [ 5.       0.       2.       0.04545  3.      63.      66.      62.     ]]

[[  5.        0.        2.        0.7481  193.       65.      258.
  256.     ]
 [  5.        0.        2.        0.01163   3.      255.      258.
  256.     ]
 [  5.        0.        2.        0.7481  193.       65.      258.
    0.     ]
 [  5.        0.        2.        0.01163   3.      255.      258.
  254.     ]]

In [77]:
p2_88 = np.zeros((4, 8))
p2_88[0] = [5, 0, 2, 0.7424, 49, 17, 0, 64]
p2_88[0][6] = p2_88[0][4] + p2_88[0][5]
p2_88[1] = [5, 0, 2, 0.04545, 3, 63, 0, 64]
p2_88[1][6] = p2_88[1][4] + p2_88[1][5]
p2_88[2] = [5, 0, 2, 0.7474, 49, 17, 0, 0]
p2_88[2][6] = p2_88[2][4] + p2_88[2][5]
p2_88[3] = [5, 0, 2, 0.04545, 3, 63, 0, 62]
p2_88[3][6] = p2_88[3][4] + p2_88[3][5]
print(heading, "\n", p2_88, "\n")

p2_1616 = np.zeros((4, 8))
p2_1616[0] = [5, 0, 2, 0.01163, 3, 255, 0, 256]
p2_1616[0][6] = p2_1616[0][4] + p2_1616[0][5]
p2_1616[1] = [5, 0, 2, 0.01163, 3, 255, 0, 256]
p2_1616[1][6] = p2_1616[1][4] + p2_1616[1][5]
p2_1616[2] = [5, 0, 2, 0.01163, 3, 255, 0, 223]
p2_1616[2][6] = p2_1616[2][4] + p2_1616[2][5]
p2_1616[3] = [5, 0, 2, 0.01163, 3, 255, 0, 254]
p2_1616[3][6] = p2_1616[3][4] + p2_1616[3][5]
print(p2_1616, "\n")

['lines', 'ways', 'blocks', 'hitRate', 'nHits', 'nMisses', 'totalAccesses']
 [[ 5.       0.       2.       0.7424  49.      17.      66.      64.     ]
 [ 5.       0.       2.       0.04545  3.      63.      66.      64.     ]
 [ 5.       0.       2.       0.7474  49.      17.      66.       0.     ]
 [ 5.       0.       2.       0.04545  3.      63.      66.      62.     ]]

[[  5.        0.        2.        0.01163   3.      255.      258.
  256.     ]
 [  5.        0.        2.        0.01163   3.      255.      258.
  256.     ]
 [  5.        0.        2.        0.01163   3.      255.      258.
  223.     ]
 [  5.        0.        2.        0.01163   3.      255.      258.
  254.     ]]

In [78]:
heading3 = ['32-entry 4-word direct-mapped', '32-entry 4-word 2-way set associative', '32-entry 4-word fully associative']
h3_88 = np.zeros((3, 7))
h3_88[0] = [5, 0, 2, 0.01538, 2, 128, 0]
h3_88[0][6] = h3_88[0][4] + h3_88[0][5]
h3_88[1] = [4, 1, 2, 0.7385, 96, 34, 0]
h3_88[1][6] = h3_88[1][4] + h3_88[1][5]
h3_88[2] = [0, 5, 2, 0.7385, 96, 34, 0]
h3_88[2][6] = h3_88[2][4] + h3_88[2][5]
print(heading, "\n", h3_88, "\n")

h3_1616 = np.zeros((3, 7))
h3_1616[0] = [5, 0, 2, 0.06809, 35, 479, 0]
h3_1616[0][6] = h3_1616[0][4] + h3_1616[0][5]
h3_1616[1] = [4, 1, 2, 0.7471, 384, 130, 0]
h3_1616[1][6] = h3_1616[1][4] + h3_1616[1][5]
h3_1616[2] = [0, 5, 2, 0.7471, 384, 130, 0]
h3_1616[2][6] = h3_1616[2][4] + h3_1616[2][5]
print(h3_1616, "\n")

['lines', 'ways', 'blocks', 'hitRate', 'nHits', 'nMisses', 'totalAccesses']
 [[  5.        0.        2.        0.01538   2.      128.      130.     ]
 [  4.        1.        2.        0.7385   96.       34.      130.     ]
 [  0.        5.        2.        0.7385   96.       34.      130.     ]]

[[  5.        0.        2.        0.06809  35.      479.      514.     ]
 [  4.        1.        2.        0.7471  384.      130.      514.     ]
 [  0.        5.        2.        0.7471  384.      130.      514.     ]]

In [85]:
# display h3_88 as table with heading = heading and data = h3_88
import pandas as pd
from IPython.display import display

print("Que3")
print("Program3 with L1(8,8)")
# don't display index
df = pd.DataFrame(h3_88, columns=heading, index=heading3)
display(HTML(df.to_html()))

print("Program3 with L1(16,16)")
# display h3_1616 as table with heading = heading and data = h3_1616
df = pd.DataFrame(h3_1616, columns=heading, index=heading3)
display(HTML(df.to_html()))

Que3
Program3 with L1(8,8)

Program3 with L1(16,16)

In [80]:
# display p1_88 as table with heading = heading and data = p1_88, index = heading2
print("Que2")
print("Program1 with L1(8,8)")
df = pd.DataFrame(p1_88, columns=heading1, index=heading2)
display(HTML(df.to_html()))

# display p1_1616 as table with heading = heading and data = p1_1616, index = heading2
print("Program1 with L1(16,16)")
df = pd.DataFrame(p1_1616, columns=heading1, index=heading2)
display(HTML(df.to_html()))

# display p2_88 as table with heading = heading and data = p2_88, index = heading2
print("Program2 with L1(8,8)")
df = pd.DataFrame(p2_88, columns=heading1, index=heading2)
display(HTML(df.to_html()))

# display p2_1616 as table with heading = heading and data = p2_1616, index = heading2
print("Program2 with L1(16,16)")
df = pd.DataFrame(p2_1616, columns=heading1, index=heading2)
display(HTML(df.to_html()))

Que2
Program1 with L1(8,8)

Program1 with L1(16,16)

Program2 with L1(8,8)

Program2 with L1(16,16)

In [81]:
# display p1_88_lines as table with heading = heading and data = p1_88_lines
print("Que1")
print("Program1 with L1(8,8) with lines variation")
df = pd.DataFrame(p1_88_lines, columns=heading)
display(HTML(df.to_html(index=False)))

# display p1_88_blocks as table with heading = heading and data = p1_88_blocks
print("Program1 with L1(8,8) with blocks variation")
df = pd.DataFrame(p1_88_blocks, columns=heading)
display(HTML(df.to_html(index=False)))

# display p1_88_ways as table with heading = heading and data = p1_88_ways
print("Program1 with L1(8,8) with ways variation")
df = pd.DataFrame(p1_88_ways, columns=heading)
display(HTML(df.to_html(index=False)))

# display p1_1616_lines as table with heading = heading and data = p1_1616_lines
print("Program1 with L1(16,16) with lines variation")
df = pd.DataFrame(p1_1616_lines, columns=heading)
display(HTML(df.to_html(index=False)))

# display p1_1616_blocks as table with heading = heading and data = p1_1616_blocks
print("Program1 with L1(16,16) with blocks variation")
df = pd.DataFrame(p1_1616_blocks, columns=heading)
display(HTML(df.to_html(index=False)))

# display p1_1616_ways as table with heading = heading and data = p1_1616_ways
print("Program1 with L1(16,16) with ways variation")
df = pd.DataFrame(p1_1616_ways, columns=heading)
display(HTML(df.to_html(index=False)))

Que1
Program1 with L1(8,8) with lines variation

Program1 with L1(8,8) with blocks variation

Program1 with L1(8,8) with ways variation

Program1 with L1(16,16) with lines variation

Program1 with L1(16,16) with blocks variation

Program1 with L1(16,16) with ways variation

In [82]:
# display p2_88_lines as table with heading = heading and data = p2_88_lines
print("Que1")
print("Program2 with L1(8,8) with lines variation")
df = pd.DataFrame(p2_88_lines, columns=heading)
display(HTML(df.to_html(index=False)))

# display p2_88_blocks as table with heading = heading and data = p2_88_blocks
print("Program2 with L1(8,8) with blocks variation")
df = pd.DataFrame(p2_88_blocks, columns=heading)
display(HTML(df.to_html(index=False)))

# display p2_88_ways as table with heading = heading and data = p2_88_ways
print("Program2 with L1(8,8) with ways variation")
df = pd.DataFrame(p2_88_ways, columns=heading)
display(HTML(df.to_html(index=False)))

# display p2_1616_lines as table with heading = heading and data = p2_1616_lines
print("Program2 with L1(16,16) with lines variation")
df = pd.DataFrame(p2_1616_lines, columns=heading)
display(HTML(df.to_html(index=False)))

# display p2_1616_blocks as table with heading = heading and data = p2_1616_blocks
print("Program2 with L1(16,16) with blocks variation")
df = pd.DataFrame(p2_1616_blocks, columns=heading)
display(HTML(df.to_html(index=False)))

# display p2_1616_ways as table with heading = heading and data = p2_1616_ways
print("Program2 with L1(16,16) with ways variation")
df = pd.DataFrame(p2_1616_ways, columns=heading)
display(HTML(df.to_html(index=False)))

Que1
Program2 with L1(8,8) with lines variation

Program2 with L1(8,8) with blocks variation

Program2 with L1(8,8) with ways variation

Program2 with L1(16,16) with lines variation

Program2 with L1(16,16) with blocks variation

Program2 with L1(16,16) with ways variation